body {
    font-family: Arial, sans-serif;
    line-height: 1.8;
    margin: 0;
    padding: 0;
    color: #333;
}

header, main, footer {
    padding: 21px;
}

.wrapper {
    display: flex;
}

header {
    background: #f4f4f4;
    border-bottom: 3px solid #ccc;
}

h1 {
    margin-top: 0;
}

.sidebar {
    width: 21%;
    min-width: 233px; /* The navigation menu will not become narrower than 200 pixels */
    background: #f4f4f4;
    border-right: 2px solid #ccc;
}

.sidebar ul {
    list-style: none;
    padding: 3px;
}

.sidebar ul li a {
    display: block;
    padding: 13px;
    color: #333;
    text-decoration: none;
}

.sidebar ul li a:hover {
    background: #ccc;
    color: #000;
}

#markdown-container {
    padding-top: 3%;
    padding-right: 8%;
    padding-bottom: 5%;
    padding-left: 5%;
}

footer {
    background: #f4f4f4;
    border-top: 3px solid #ccc;
    text-align: center;
}
