header, main, footer {
    padding: 10px;
}

/* numbers to use: 
0, 2, 2, 4, 6, 10, 16, 26, 42, 68, 110, 178, 288, 466 
0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89,144,233,377,610,987, 1597, 2584,
*/

header {
    background-color: #4B0082; /* indigo */
    color: #FFD700; /* gold */
    /* background-color: #8B4513; /* dark brown */
    /* color: #FAF0E6; /* light linen */ 
    /* background: #f4f4f4; */
    border-bottom: 4px solid #ccc;
}

/* Topbar Menu */
.topbar-menu {
    display: flex;
    justify-content: space-around;
    align-items: right;
    background-color: transparent; /* Remove the background color if you want to use the header background color */
    /* Other styles */
}

.topbar-menu a {
    /* Add your link styles here */
    /* display: block; */
    padding: 3px;
    background-color: transparent; /* dark slate blue */
    color: #F5DEB3; /* wheat */
    text-decoration: none;
    transition: text-shadow 0.4s ease;
}

.topbar-menu a:hover {
    text-shadow: 0 0 6px #FFD700, 0 0 8px #FFD700, 0 0 13px #FFD700, 0 0 21px #FFD700;
}

body {
    font-family: Arial, sans-serif;
    line-height: 2;
    background-color: #241e45; /* darker slate blue /* #FBF8F2; /* less saturated warm light beige */
    /* color: #F5DEB3; /* wheat */
    color: #797979; /* less saturated dark gray */
    /* background-color:  #FFF5E6;
    */
    margin: 0;
    padding: 0;
}

/* Main content area on the index page only */
.index-page #main-content {
    min-height: calc(100vh - (header_height + footer_height));
}

.main-title {
    font-size: 2em;  /* Adjust the font size as needed */
    margin-left: 21px;  /* Increase the left margin */
}

.wrapper {
    display: flex;
    background-color: #FBF8F2;
    justify-content: center;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    padding-left: 13px;
    padding-right: 13px;
}

h1 {
    margin-top: 2;
    margin-bottom: 2;
}

.sidemenu1 {
    width: 13%;
    min-width: 288px; /* The navigation menu will not become narrower than 200 pixels */
    background-color: #483D8B; /* dark slate blue */
    color: #F5DEB3; /* wheat */
    /* background-color: #A0522D; /* sienna */
    /* color: #F5F5DC; /* beige */
    border-right: 2px solid #ccc;
}

.sidemenu1 ul {
    list-style: none;
    padding: 10px;
}

.sidemenu1 ul li a {
    display: block;
    padding: 10px;
    background-color: #483D8B; /* dark slate blue */
    color: #F5DEB3; /* wheat */
    /* color: #F5F5DC; /* beige */
    text-decoration: none;
    transition: text-shadow 0.3s ease;
}

.sidemenu1 ul li a:hover {
    /*background: #5a5096; */
    /*color: #F5DEB3; /* Floral white */
    /*color: #000; */
    text-shadow: 0 0 6px #FFD700, 0 0 8px #FFD700, 0 0 13px #FFD700, 0 0 21px #FFD700;
}

#markdown-container {
    padding-top: 2%;
    padding-right: 13%;
    padding-bottom: 3%;
    padding-left: 13%;
}

img {
    float: left;
    margin-right: 21px;
}


/* Begin Content Section */

.content-section {
    display: grid;
    grid-template-columns: 2fr 3fr; /* Two equal columns */
    grid-template-areas: 
        "image text"
        "modifiers modifiers"; /* Grid areas */
    gap: 8px; /* Adjust as needed */
    margin-bottom: 13px; /* Adjust as needed */
}

.section-image-container {
    grid-area: image;
}

.section-text {
    grid-area: text;
}

.unique-modifiers {
    grid-area: modifiers;
    width: 100%; /* Ensures it takes the full width */
}

.section-image {
    padding-top: 3%;
    margin-top: 8px;
    margin-right: 21px; /* Space between the image and the text */
    width: 34%; /* Set the width of the image */
    height: auto;
}
/* End Content Section */


/* Ensure the text wraps next to the image 
.content-section > div {
    width: 89%;
} */

footer {
    background-color: #241e45; /* #4B0082; /* indigo */
    color: #FFD700; /* gold */
    /*background-color: #8B4513; /* dark brown */
    /*color: #FAF0E6; /* light linen */
    border-top: 2px solid #ccc;
    text-align: center;
}

/* Bard Results */
#resultsb {
    display: flex;
    background-color: #FBF8F2;
    justify-content: center;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    padding-left: 21px;
    padding-right: 21px;
}
